.login__register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  color: #A0A0A0;
  line-height: 17px;
  font-size: 14px;
}

.login__register-link {
  margin-left: 6px;
  text-decoration: none;
  color: #3456F3;
}

.login__register-link:hover {
  opacity: 0.8;
}