.login__input-error_first {
  margin-top: 6px;
  margin-bottom: 12px;
  line-height: 12px;
  font-size: 10px;
  color: #FF0000;
}

@media screen and (max-width:650px) {
  .login__input-error_first {
    top: 192px;
    left: 22px;
  }
}