.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm__container {
    width: 100%;
    max-width: 1140px;
    background-color: #F9F9F9;
    border-radius: 9px;
    height: 72px;
    margin-top: 70px;
    align-items: center;
    display: flex;
    position: relative;
}

.searchForm__underline {
    max-width: 1140px;
    width: 100%;
    border-bottom:solid 1px #E8E8E8;
    margin: 69px 0 10px;
}

.searchForm__icon {
    height: 34px;
    position: absolute;
    top: 19px;
    left: 19px;
}

.searchForm__input {
    background-color: transparent;
    border: none;
    color: #A0A0A0;
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 63px;
}

.searchForm__find-btn {
    height: 34px;
    width: 34px;
    background-image: url(../../images/find.svg);
    border: none;
    padding: 0;
    border-radius: 17px;
    position: absolute;
    top: 19px;
    right: 274px;
}

.searchForm__find-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.searchForm__line {
    max-width: 1px;
    height: 40px;
    border-right: solid 1px #E8E8E8;
    margin: 0 29px 0 30px;
    position: absolute;
    top: 16px;
    right: 236px;
}

.searchForm__switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.searchForm__label {
	cursor: pointer;
	text-indent: -9999px;
	width: 32px;
	height: 20px;
	background: #ccc;
	display: block;
	border-radius: 16px;
	position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchForm__label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background: #2BE080;
	border-radius: 8px;
	transition: 0.3s;
}

.searchForm__switch:checked + .searchForm__label {
	background: #ffffff;
}

.searchForm__switch:checked + .searchForm__label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.searchForm__label:active:after {
	width: 32px;
}
  

.searchForm__slider.searchForm__round {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchForm__short {
    margin: 0 0 0 15px;
}

.searchForm__checkbox {
    position: absolute;
    top: 26px;
    right: 70px;
    display: flex;
}
  

@media screen and (max-width:1240px) {
    .searchForm {
        padding: 0 30px 0;
    }

    .searchForm__short {
        font-size: 13px;
        margin-top: 3px;
    }


    .searchForm__line {
        margin: 0 19px 0 19px;
    }   

    .searchForm__underline {
        margin-top: 109px;
    }

    .searchForm__input {
        max-width: 400px;
    }
}

@media screen and (max-width:850px) {
    .searchForm__line {
        visibility: hidden;
    }

    .searchForm__input {
        max-width: 300px;
    }
}

@media screen and (max-width:785px) {
    .searchForm__input {
        max-width: 300px;
    }

    .searchForm__find-btn {
       right: 19px;
    }

    .searchForm__checkbox {
        top: 120px;
        left: 35%;
    }

    .searchForm__line {
        visibility: hidden;
    }

}