.footer {
  max-width: 1280px;
  max-height: 172px;
  width: 100%;
  line-height: 16px;
  font-size: 13px;
  font-weight: 400;
}

.footer__title {
  max-width: 1140px;
  margin: 79px auto 7px;
  padding: 0 0 20px 0;
  border: none;
  border-bottom: 2px solid #E8E8E8;
  color: #A0A0A0;
  font-weight: 400;
  text-align: center;
}

.footer__container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:950px) {
  .footer {
    max-width: 578px;
  }
}

@media screen and (max-width:650px) {
  .footer {
    margin: 48px auto 0;
    max-width: 282px;
  }
}